@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sentence_title {
    font-family: 'RIDIBatang';
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 40px;
    min-height: 20vh;
    /* ? */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sentence_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#blank {
    width: 700px;
    margin: 10px;
}

input {
    font-family: 'RIDIBatang';
    font-size: 20px;
}

#submit {
    font-family: 'RIDIBatang';
    font-size: 20px;
}

#input_list {
    font-family: 'RIDIBatang';
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
